

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}



h1,
h2,
h3,
h5,
h6 {
  font-family: "Hanken Grotesk", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.article {
  h4 {
    width: 280px;
height: 18px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;

color: #000000;
  }
  p {
   width: 283px;
height: 64px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;


color: rgba(0, 0, 0, 0.6);
  }
}

.diva{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae */

.btn1 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;

width: fit-content;
height: 33px;

background: rgba(255, 255, 255, 0.2);
border: 0.5px solid #828282;
border-radius: 100px;
}

.btn1.active {
  /* Frame 43 */

color: black;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;


width: fpx;
height: 33px;

background: #FFFFFF;
border: 0.5px solid #828282;
border-radius: 100px;


}

headchoiec {
  /* Frame 45 */



width: 346px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}